html{
  box-sizing: border-box;
  font-size: 1rem;
  font-family: sans-serif;
}

*, *:before, *:after{
  box-sizing: inherit;

}

hr{
  margin: 2rem auto;
}

a{
  margin: 0 0.5rem;
}

li{
  margin-bottom: 1rem;
}

.active{
  font-weight: bold;
  color: #61d0fb;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

th,td{
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #dedede;
}

input[type="text"], input[type="email"], textarea{
  border: thin solid #dedede;
  border-radius: .24rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: trasnparent;
}

label{
  padding: 0.5rem 0;
  margin: 0 0 .5rem 0;
  display: inline-block;
  color: #444;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

button, input[type="submit"], input[type="reset"]{
  border: thin solid #444;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem;
  margin: 0 .5rem 0 0;
  display: inline-block;
  background-color: #eee;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}


@media screen and (min-width: 1024px) {
  .grid-1-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
  .grid-1-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}